* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    min-height: 100dvh;
    background-color: #f5f5f5;

    background: #b6fbff;
    background: -webkit-linear-gradient(to right, #ffd194, #b6fbff);
    background: linear-gradient(to right, #ffd194, #b6fbff);
}

button {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

#main {
    user-select: none;
    display: none;
    justify-content: space-between;
    padding-top: 50px;
    max-width: 1024px;
    margin: auto;
}

.enemy-container {
    display: none;
}

/* ================ intro outro ================ */

.intro {
    padding-top: 100px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 50svh;
    width: fit-content;
    margin: auto;
}

.intro h1 {
    text-align: center;
    color: #0F1035;
    font-size: 6rem;
    letter-spacing: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #3498db,
    4px 4px 0px #de3d3d,
    6px 6px 0px #34dbc5;
}

.outro {
    display: none;
    width: fit-content;
    margin: 200px auto 0;
}

#startGame, #restartGame {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;

    background-color: #0F1035;
    border: none;
    border-radius: 10px;
    color: #ffffff;

    transition: all;
    transition-duration: 0.3s;
}

#startGame:hover, #restartGame:hover {
    box-shadow:
    0px 0px 1.4px #DCF2F1,
    0px 0px 3.3px #DCF2F1,
    0px 0px 6.3px #DCF2F1,
    0px 0px 11.2px #DCF2F1,
    0px 0px 20.9px #DCF2F1,
    0px 0px 50px #DCF2F1
    ;
}

/* ================ board labels ================ */

.board-label {
    font-weight: 300;
}

.board-label-wrapper {
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-bottom: 3px;
}

.board-label-wrapper-friendly {
    background-color: #adf39f;
    padding-right: 5px;
}

.board-label-wrapper-enemy {
    background-color: #f39f9f;
    padding-left: 5px;
    margin-left: auto;
}

.corner-line {
    width: 7px;
}

.corner-line-left {
    background-color: #49b633;
}

.corner-line-right {
    background-color: #b63333;
}

/* ================ info board ================ */

.info-corner-line {
    width: 10px;
}

.info-board {
    display: none;
    place-content: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    margin-top: 30px;

    background-image: linear-gradient(to right, #adf39f, #f39f9f);
    background-size: 200% 100%;
    background-position: center;
    transition: background-position 0.5s ease-in;
}

.info-board-player-turn {
    background-position: left;
}

.info-board-computer-turn {
    background-position: right;
}

#turn {
    text-align: center;
}

/* ================ ships placement stage ================ */

#rotateShips, #reset, #confirm, #random {
    font-weight: 400;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

#random, #reset {
    padding: 5px;
}

.btn-wrapper {
    margin-bottom: 20px;
    width: 190px;
}

.btn-wrapper div {
    display: flex;
    gap: 5px;
}

.btn-wrapper:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 0;
}

.fa-rotate {
    margin-right: 5px;
}

/* ================ ships and boards ================ */

.friendly-board, .enemy-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 2px;
    /* border-bottom: 1px solid #0F1035;
    border-left: 1px solid #0F1035; */
    background-color: #DCF2F1;
    background-color: #7FC7D9;
    border: 2px solid #7FC7D9;

    box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028),
    0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042),
    0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07)
  ;
}

.friendly-board div, .enemy-board div {
    position: relative;
    width: 40px;
    height: 40px;
    /* border-top: 1px solid #0F1035;
    border-right: 1px solid #0F1035; */
    background-color: #ADD8E6;
}

.friendly-board div.hit::after, .enemy-board div.hit::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ff4136 ;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.friendly-board div.miss::after, .enemy-board div.miss::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #3f9ab1;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.ships-wrapper {
    width: 422px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.ships {
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ship {
    cursor: grab;
    height: fit-content;
}

.ship-cell {
    width: 30px;
    height: 40px;
    background-color: #365486;
}

.ship-cell:nth-of-type(1) {
    height: 35px;
    border-radius: 100% 100% 0 0;
}

.ship-cell:last-child {
    height: 35px;
    border-radius: 0 0 100% 100%;
}

.ship-col {
    display: flex;
}

.ship-cell-col {
    width: 40px;
    height: 30px;
}

.ship-cell-col:nth-of-type(1) {
    width: 35px;
    height: 30px;
    border-radius: 100% 0 0 100%;
}

.ship-cell-col:last-child {
    width: 35px;
    height: 30px;
    border-radius: 0 100% 100% 0;
}

.highlighted {
    background-color: #ffd3b6 !important;
}